# Task 2.2: Data Analysis using Big Data tools

### Loading data into PySpark

In [1]:
import findspark
findspark.init('/usr/local/spark')
import pyspark
from pyspark.sql import HiveContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import Row
from pyspark.sql import functions as F
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import col,isnan, when, count
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("capstone_checkpoint_two") \
    .getOrCreate()

In [3]:
data = spark.read.csv('hdfs://localhost:54310/user/hduser/User_product_purchase_details_p2.csv', inferSchema="true", header="true")
data.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Zip_Code: integer (nullable = true)
 |-- City_Name: string (nullable = true)
 |-- State: string (nullable = true)

In [5]:
spark.sql("CREATE DATABASE IF NOT EXISTS capstone")

DataFrame[]

In [6]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|    capstone|
|     default|
+------------+

In [7]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [8]:
data.write.mode("overwrite").saveAsTable("capstone.purchase")
table=spark.sql('select * from capstone.purchase')
table.show()

+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+-----+----------+---------+----------+--------+---------------+----------+
|User_ID|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|Gender|  Age|Occupation|City_Code|State_Code|Zip_Code|      City_Name|     State|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+-----+----------+---------+----------+--------+---------------+----------+
|1000001| P00069042|            A|                         2|             0|                 3|              null|              null|    8370|     F| 0-17|        10|     C259|       S16|   42420|      Henderson|  Kentucky|
|1000001| P00248942|            A|                         2|             0|                 1|                 6|                14|   15200|     F| 0-17|        10|     C259|       S16|   42420|      Henderson|  Kentucky|
|1000001| P00087842|            A|                         2|             0|                12|              null|              null|    1422|     F| 0-17|        10|     C259|       S16|   42420|      Henderson|  Kentucky|
|1000001| P00085442|            A|                         2|             0|                12|                14|              null|    1057|     F| 0-17|        10|     C259|       S16|   42420|      Henderson|  Kentucky|
|1000002| P00285442|            C|                        4+|             0|                 8|              null|              null|    7969|     M|  55+|        16|     C259|       S16|   42420|      Henderson|  Kentucky|
|1000003| P00193542|            A|                         3|             0|                 1|                 2|              null|   15227|     M|26-35|        15|      C64|       S04|   90036|    Los Angeles|California|
|1000004| P00184942|            B|                         2|             1|                 1|                 8|                17|   19215|     M|46-50|         7|     C150|       S09|   33311|Fort Lauderdale|   Florida|
|1000004| P00346142|            B|                         2|             1|                 1|                15|              null|   15854|     M|46-50|         7|     C150|       S09|   33311|Fort Lauderdale|   Florida|
|1000004|  P0097242|            B|                         2|             1|                 1|                16|              null|   15686|     M|46-50|         7|     C150|       S09|   33311|Fort Lauderdale|   Florida|
|1000005| P00274942|            A|                         1|             1|                 8|              null|              null|    7871|     M|26-35|        20|     C150|       S09|   33311|Fort Lauderdale|   Florida|
|1000005| P00251242|            A|                         1|             1|                 5|                11|              null|    5254|     M|26-35|        20|     C150|       S09|   33311|Fort Lauderdale|   Florida|
|1000005| P00014542|            A|                         1|             1|                 8|              null|              null|    3957|     M|26-35|        20|     C150|       S09|   33311|Fort Lauderdale|   Florida|
|1000005| P00031342|            A|                         1|             1|                 8|              null|              null|    6073|     M|26-35|        20|     C150|       S09|   33311|Fort Lauderdale|   Florida|
|1000005| P00145042|            A|                         1|             1|                 1|                 2|                 5|   15665|     M|26-35|      null|     null|       S09|   33311|           null|   Florida|
|1000006| P00231342|            A|                         1|             0|                 5|                 8|                14|    5378|     F|51-55|      null|     null|       S04|   90032|           null|California|
|1000006| P00190242|            A|                         1|             0|                 4|                 5|              null|    2079|     F| null|      null|     null|       S04|    null|           null|California|
|1000006|  P0096642|            A|                         1|             0|                 2|                 3|                 4|   13055|     F| null|      null|     null|       S04|    null|           null|California|
|1000006| P00058442|            A|                         1|             0|                 5|                14|              null|    8851|     F| null|      null|     null|       S04|    null|           null|California|
|1000007| P00036842|            B|                         1|             1|                 1|                14|                16|   11788|     M| null|      null|     null|       S04|    null|           null|California|
|1000008| P00249542|            C|                        4+|             1|                 1|                 5|                15|   19614|     M| null|      null|     null|      null|    null|           null|      null|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+-----+----------+---------+----------+--------+---------------+----------+
only showing top 20 rows

In [9]:
spark.sql("use capstone")

DataFrame[]

In [10]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|capstone| purchase|      false|
+--------+---------+-----------+

In [12]:
table.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Zip_Code: integer (nullable = true)
 |-- City_Name: string (nullable = true)
 |-- State: string (nullable = true)

In [13]:
df=spark.sql('select * from capstone.purchase')

DATA PROFILING

In [14]:
#Find the no. of null for each column 
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+------+----------+---------+----------+--------+---------+------+
|User_ID|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|Gender|   Age|Occupation|City_Code|State_Code|Zip_Code|City_Name| State|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+------+----------+---------+----------+--------+---------+------+
|      0|         0|            0|                         0|             0|                 0|            173638|            383247|       0|547782|550053|    550055|   550055|    550049|  550053|   550055|550049|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+------+----------+---------+----------+--------+---------+------+

In [15]:
#find the mean of each column
df.select(mean ('Product_Category_1'), mean ('Product_Category_2'), mean ('Product_Category_3'), mean ('Purchase')).show()

+-----------------------+-----------------------+-----------------------+-----------------+
|avg(Product_Category_1)|avg(Product_Category_2)|avg(Product_Category_3)|    avg(Purchase)|
+-----------------------+-----------------------+-----------------------+-----------------+
|      5.404270017525106|      9.842329251122386|     12.668243206790512|9263.968712959126|
+-----------------------+-----------------------+-----------------------+-----------------+

In [16]:
#find the max and min values of each column
df.agg({'Product_Category_1': 'max'}).show()
df.agg({'Product_Category_2': 'max'}).show()
df.agg({'Product_Category_3': 'max'}).show()
df.agg({'Purchase': 'max'}).show()

+-----------------------+
|max(Product_Category_1)|
+-----------------------+
|                     20|
+-----------------------+

+-----------------------+
|max(Product_Category_2)|
+-----------------------+
|                     18|
+-----------------------+

+-----------------------+
|max(Product_Category_3)|
+-----------------------+
|                     18|
+-----------------------+

+-------------+
|max(Purchase)|
+-------------+
|        23961|
+-------------+

In [17]:
df.agg({'Product_Category_1': 'min'}).show()
df.agg({'Product_Category_2': 'min'}).show()
df.agg({'Product_Category_3': 'min'}).show()
df.agg({'Purchase': 'min'}).show()

+-----------------------+
|min(Product_Category_1)|
+-----------------------+
|                      1|
+-----------------------+

+-----------------------+
|min(Product_Category_2)|
+-----------------------+
|                      2|
+-----------------------+

+-----------------------+
|min(Product_Category_3)|
+-----------------------+
|                      3|
+-----------------------+

+-------------+
|min(Purchase)|
+-------------+
|           12|
+-------------+

In [18]:
df.describe().show()

+-------+------------------+----------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+------+----+-----------------+---------+----------+-----------------+---------------+----------+
|summary|           User_ID|Product_ID|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|Gender| Age|       Occupation|City_Code|State_Code|         Zip_Code|      City_Name|     State|
+-------+------------------+----------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+------+----+-----------------+---------+----------+-----------------+---------------+----------+
|  count|            550068|    550068|       550068|                    550068|             550068|            550068|            376430|            166821|           550068|  2286|  15|               13|       13|        19|               15|             13|        19|
|   mean|1003028.8424013031|      null|         null|         1.468494139793958|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512|9263.968712959126|  null|null|13.23076923076923|     null|      null|          43910.4|           null|      null|
| stddev| 1727.591585530871|      null|         null|         0.989086680757309| 0.4917701263173259| 3.936211369201324| 5.086589648693526| 4.125337631575267|5023.065393820593|  null|null|5.418392230078435|     null|      null|19206.87686667014|           null|      null|
|    min|           1000001| P00000142|            A|                         0|                  0|                 1|                 2|                 3|               12|     F|0-17|                7|     C150|       S04|            33311|Fort Lauderdale|California|
|    max|           1006040|  P0099942|            C|                        4+|                  1|                20|                18|                18|            23961|     M| 55+|               20|      C64|       S16|            90036|    Los Angeles|  Kentucky|
+-------+------------------+----------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+------+----+-----------------+---------+----------+-----------------+---------------+----------+

In [19]:
df.count()

550068

In [20]:
df.select(countDistinct("Product_ID")).show()

+--------------------------+
|count(DISTINCT Product_ID)|
+--------------------------+
|                      3631|
+--------------------------+

In [21]:
df.select(countDistinct("User_ID")).show()

+-----------------------+
|count(DISTINCT User_ID)|
+-----------------------+
|                   5891|
+-----------------------+

In [22]:
df.select(countDistinct("City_Name")).show()

+-------------------------+
|count(DISTINCT City_Name)|
+-------------------------+
|                        3|
+-------------------------+

In [23]:
df.select(countDistinct("State")).show()

+---------------------+
|count(DISTINCT State)|
+---------------------+
|                    3|
+---------------------+

In [26]:
df1 = df.na.drop()

In [27]:
df1.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in nonulldf.columns]).show()

+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+---+----------+---------+----------+--------+---------+-----+
|User_ID|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|Gender|Age|Occupation|City_Code|State_Code|Zip_Code|City_Name|State|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+---+----------+---------+----------+--------+---------+-----+
|      0|         0|            0|                         0|             0|                 0|                 0|                 0|       0|     0|  0|         0|        0|         0|       0|        0|    0|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+------+---+----------+---------+----------+--------+---------+-----+

In [29]:
df1.dtypes

[('User_ID', 'int'),
 ('Product_ID', 'string'),
 ('City_Category', 'string'),
 ('Stay_In_Current_City_Years', 'string'),
 ('Marital_Status', 'int'),
 ('Product_Category_1', 'int'),
 ('Product_Category_2', 'int'),
 ('Product_Category_3', 'int'),
 ('Purchase', 'int'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Occupation', 'int'),
 ('City_Code', 'string'),
 ('State_Code', 'string'),
 ('Zip_Code', 'int'),
 ('City_Name', 'string'),
 ('State', 'string')]

In [28]:
#ML modelling
features = ['Product_ID','Marital_Status','Gender','Age','City_Name','State']
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols = features,outputCol='features')
new_df = assembler.transform(df1)

IllegalArgumentException: 'Data type StringType is not supported.'