# Task 2.2: Data Analysis using Big Data tools

### Loading data into PySpark

In [29]:
import findspark
findspark.init('/usr/local/spark')
import pyspark
from pyspark.sql import HiveContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import Row
from pyspark.sql import functions as F
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import col,isnan, when, count
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("capstone_checkpoint_two") \
    .getOrCreate()

In [3]:
data = spark.read.csv('hdfs://localhost:54310/capstone1/HR_raw.csv', inferSchema="true", header="true")
data.printSchema()

root
 |-- Sno: integer (nullable = true)
 |-- Candidate_Ref: integer (nullable = true)
 |-- DOJ_Extended: string (nullable = true)
 |-- Duration_to_accept_offer: integer (nullable = true)
 |-- Notice_Period: integer (nullable = true)
 |-- Offered_Band: string (nullable = true)
 |-- Percent_hike_expected_in_CTC: double (nullable = true)
 |-- Percent_hike_offered_in_CTC: double (nullable = true)
 |-- Percent_difference_CTC: double (nullable = true)
 |-- Joining_Bonus: string (nullable = true)
 |-- Candidate_relocate_actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate_Source: string (nullable = true)
 |-- Rex_in_Yrs: integer (nullable = true)
 |-- Location_ID: string (nullable = true)
 |-- Postal_Code: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- LOB_Id: integer (nullable = true)
 |-- Domicile_Id: string (nullable = true)

In [4]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [5]:
spark.sql("CREATE DATABASE IF NOT EXISTS db1")
db=spark.sql("show databases")
db.show()

+------------+
|databaseName|
+------------+
|         db1|
|     default|
+------------+

In [6]:
data.write.mode("overwrite").saveAsTable("db1.table1")
table=spark.sql('select * from db1.table1')
table.show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|  1|      2110407|         Yes|                      14|           30|          E2|                      -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       L001|     201301| 34|     1|         D6|
|  2|      2112635|          No|                      18|           30|          E2|                        50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|       L002|     600020| 34|     2|         D9|
|  3|      2112838|          No|                       3|           45|          E2|                       42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|       L001|     201301| 27|     2|        D10|
|  4|      2115021|          No|                      26|           30|          E2|                       42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|       L001|     201301| 34|     2|         D3|
|  5|      2115125|         Yes|                       1|          120|          E2|                       42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|       L001|     201301| 34|     2|        D21|
|  6|      2117167|         Yes|                      17|           30|          E1|                       42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|       L001|     201301| 34|     2|        D24|
|  7|      2119124|         Yes|                      37|           30|          E2|                       31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|       L001|     201301| 32|     2|        D23|
|  9|      2127572|         Yes|                      16|            0|          E1|                       -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|       L001|     201301| 34|     3|         D6|
| 11|      2138169|          No|                       1|           30|          E1|                      -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|       L003|     122107| 26|     4|         D5|
| 12|      2143362|          No|                       6|           30|          E1|                       240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|       L002|     600020| 34|     5|        D23|
| 13|      2151180|          No|                     120|           30|          E2|                        5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|       L001|     201301| 34|     2|         D6|
| 14|      2154264|          No|                       3|            0|          E2|                       28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|       L002|     600020| 34|     2|         D3|
| 15|      2156236|         Yes|                      14|           30|          E2|                        50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|       L001|     201301| 29|     2|        D13|
| 16|      2158703|          No|                      44|           75|          E2|                       45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|       L001|     201301| 34|     2|        D13|
| 17|      2161257|          No|                       7|           30|          E3|                       53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|       L001|     201301| 34|     2|         D9|
| 18|      2162487|          No|                       1|           30|          E3|                      -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       L004|     560034| 34|     6|        D13|
| 19|      2166041|         Yes|                      98|           30|          E2|                        50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|       L001|     201301| 36|     2|         D4|
| 20|      2172982|          No|                       1|            0|          E2|                        30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|       L001|     201301| 34|     2|        D13|
| 21|      2173730|          No|                       1|           30|          E1|                      -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|       L003|     122107| 34|     2|         D7|
| 22|      2175237|          No|                       7|           30|          E1|                      221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       L001|     201301| 34|     1|        D21|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
only showing top 20 rows

In [7]:
table.printSchema()

root
 |-- Sno: integer (nullable = true)
 |-- Candidate_Ref: integer (nullable = true)
 |-- DOJ_Extended: string (nullable = true)
 |-- Duration_to_accept_offer: integer (nullable = true)
 |-- Notice_Period: integer (nullable = true)
 |-- Offered_Band: string (nullable = true)
 |-- Percent_hike_expected_in_CTC: double (nullable = true)
 |-- Percent_hike_offered_in_CTC: double (nullable = true)
 |-- Percent_difference_CTC: double (nullable = true)
 |-- Joining_Bonus: string (nullable = true)
 |-- Candidate_relocate_actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate_Source: string (nullable = true)
 |-- Rex_in_Yrs: integer (nullable = true)
 |-- Location_ID: string (nullable = true)
 |-- Postal_Code: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- LOB_Id: integer (nullable = true)
 |-- Domicile_Id: string (nullable = true)

In [8]:
df=spark.sql('select * from db1.table1')

In [9]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender|Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+
|  0|            0|           0|                       0|            0|          13|                           0|                          0|                     0|            0|                        0|     0|               0|         0|          0|          0| 15|     0|          0|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+

In [10]:
df2 = df.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in df.columns])
df2.show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender|Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+
|  0|            0|           0|                       0|            0|          13|                           0|                          0|                     0|            0|                        0|     0|               0|         0|          0|          0| 15|     0|          0|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+

In [22]:
df3 = spark.sql("SELECT Candidate_Ref FROM DB1.Table1 where Age IS NULL OR Offered_Band IS NULL").show()

+-------------+
|Candidate_Ref|
+-------------+
|      2207823|
|      2286381|
|      2365129|
|      2452418|
|      2569520|
|      2780669|
|      2845929|
|      3211382|
|      3300563|
|      3379843|
|      3644811|
|      2116859|
|      2117861|
|      2118480|
|      2119541|
|      2121112|
|      2128251|
|      2143765|
|      2151137|
|      2160044|
+-------------+
only showing top 20 rows

In [14]:
df.describe().show()

+-------+------------------+-----------------+------------+------------------------+------------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+-----------+------------------+------------------+------------------+-----------+
|summary|               Sno|    Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|     Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|        Rex_in_Yrs|Location_ID|       Postal_Code|               Age|            LOB_Id|Domicile_Id|
+-------+------------------+-----------------+------------+------------------------+------------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+-----------+------------------+------------------+------------------+-----------+
|  count|              8995|             8995|        8995|                    8995|              8995|        8982|                        8995|                       8995|                  8995|         8995|                     8995|  8995|             8995|              8995|       8995|              8995|              8980|              8995|       8995|
|   mean| 5970.984324624792|2843647.377765425|        null|      21.434463590883823| 39.29182879377432|        null|           43.86480377987742|          40.65735630906044|   -1.5738021122846075|         null|                     null|  null|             null| 4.239021678710395|       null|  453494.479266259|29.912026726057906|3.1130628126737077|       null|
| stddev|3373.9634540786838|486344.7745519215|        null|      25.811615717050906|22.220239481838103|        null|           29.78897499097193|          36.06405981089342|    19.610728841580432|         null|                     null|  null|             null|2.5475706093546893|       null|180254.66118054854|4.0956992472101605|2.1259019490845583|       null|
|    min|                 1|          2109586|          No|                       0|                 0|          E0|                      -68.83|                     -60.53|                -67.27|           No|                       No|Female|           Agency|                 0|       L001|            122107|                20|                 1|         D1|
|    max|             12333|          3836076|         Yes|                     224|               120|          E3|                      359.77|                     471.43|                 300.0|          Yes|                      Yes|  Male|Employee Referral|                24|       Null|            700027|                60|                 9|         D9|
+-------+------------------+-----------------+------------+------------------------+------------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+-----------+------------------+------------------+------------------+-----------+

In [16]:
df.count()

8995

In [21]:
df.select(countDistinct("Candidate_Ref")).show()

+-----------------------------+
|count(DISTINCT Candidate_Ref)|
+-----------------------------+
|                         8995|
+-----------------------------+

In [17]:
df.select(countDistinct("Offered_Band")).show()

+----------------------------+
|count(DISTINCT Offered_Band)|
+----------------------------+
|                           4|
+----------------------------+

In [18]:
df.select(countDistinct("Location_ID")).show()

+---------------------------+
|count(DISTINCT Location_ID)|
+---------------------------+
|                         11|
+---------------------------+

In [19]:
df.select(countDistinct("LOB_ID")).show()

+----------------------+
|count(DISTINCT LOB_ID)|
+----------------------+
|                     9|
+----------------------+

In [20]:
df.select(countDistinct("Domicile_ID")).show()

+---------------------------+
|count(DISTINCT Domicile_ID)|
+---------------------------+
|                         24|
+---------------------------+

In [25]:
df_1=spark.read.csv("hdfs://localhost:54310/capstone1/HR_raw.csv",header=True,mode='DROPMALFORMED')

In [27]:
df_1.count()

8995

In [39]:
amount_missing_df = df_1.select([(count(when(isnan(c) | col(c).isNull(), c))*100/count(lit(1))).alias(c) for c in df_1.columns])
amount_missing_df.show()

+---+-------------+------------+------------------------+-------------+-------------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+-------------------+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|       Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender|Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|                Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+-------------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+-------------------+------+-----------+
|0.0|          0.0|         0.0|                     0.0|          0.0|0.14452473596442467|                         0.0|                        0.0|                   0.0|          0.0|                      0.0|   0.0|             0.0|       0.0|        0.0|        0.0|0.16675931072818231|   0.0|        0.0|
+---+-------------+------------+------------------------+-------------+-------------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+-------------------+------+-----------+

In [32]:
nonulldf = df_1.na.drop()

In [34]:
nonulldf.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in nonulldf.columns]).show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender|Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+
|  0|            0|           0|                       0|            0|           0|                           0|                          0|                     0|            0|                        0|     0|               0|         0|          0|          0|  0|     0|          0|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+

In [35]:
nonulldf.count()

8968